.contenu-mixte {
    text-align: center;
}

.contenu-texte {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#section-1 {
    color: blue;
}

#section-2 {
    color: orange;
}

#section-3 {
    color: purple;
}